.text-box{
    margin-top: 5%;
  
}
.text-box>span{
    font-size: xx-large;
    font-weight: 600;
    display: block;
    padding-bottom: 2%;
}
.text-box>textarea{
   width: 100%; 
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}
.text-summary-container>.first{
    font-size: xx-large;
    font-weight: 600;
    display: block;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 3%;
}
.text-summary-container>.second{
    padding-top: 0%;
    margin-top: 0%;
    display: block;
}
.text-preview-container>.first{
    font-size: xx-large;
    font-weight: 600;
    display: block;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 2%;
}
.text-preview-container>input{
    background-color: white;
    outline: none;
    border: none;
}
