*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.nav-left{
    display: flex;
    justify-content:initial;
    padding-left:25px;

}
.nav-left>.logo{
    margin-right: 3%;
}
.nav-left>.logo>h2{
    font-weight: 600;
}
.nav-left>.logo>h2>span{
    font-size: 18px;
    font-weight: 700;
}
.nav-left>.home{
    margin-top: 1%;
}
.nav-right>.form-check{
    margin-top: 1%;
}

.nav-left>.home>span{
    font-size: 23px;
    font-weight: 500;
}
.nav-right{
    text-align: right;
    padding-left: 0px;
}
.nav-right>div>input{
    background-color: rgb(127, 95, 222);
    font-size: 19px;
    border: 1px solid gray;
}
.nav-right>div>label{
    font-size: 18px;
}
.container-fluid{
    padding: 10px 20px 10px 20px ;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
}
.row{
    width: 100%;
    justify-content: center;

}